# Dependencies
/vendor/

# Archives & Backups
*.rar
*.zip
*.tar.gz
*.7z
*.bak

# Logs
*.log
webhook.log

# Environment & Local Configurations
.env
.env.*
!.env.example

# Operating System & Editor Files
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Tooling
/.superpowers/
